.Books-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

img {
    width: 80%;
    height: 150px;
    background-color: brown;
    margin-top: 5px;
}

.Book {
    width: 200px;
    height: 300px;
    margin: 3px;
    background-color: white;
    border: 1px gray solid;
    padding: 5px;
    text-align: center;
}

.Book-Description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Buy-button {
    color: #fff;
    background-color: brown;
    width: 50%;
    border-color: brown;
    padding: 5px;
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.Book-details-container {
    display: flex;
    margin: 20px;
}

.Image-container {
    flex: .2;
    margin-top: 30px;
}

.Details-container {
    flex: 0.7;
    text-align: left;
}

.details-buttons {
    margin: 20px;
    background-color: brown;
    outline: none;
    border-color: brown;
    padding: 5px;
    color: #fff;
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.Book-Description-detail {
    margin: 5px;
}

label {
    font-weight: bold;
}

@media only screen and (max-width: 960px) {
    .Book-details-container {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 200px;
        height: 150px;
        background-color: brown;
        margin-top: 5px;
    }
}