.Main-header-container{
	display: flex;
	padding: 8px;
}
.Title{
  font-size: 16px;
  color: black;
  margin-left: 30px;
  text-align: left;
	flex: 0.5;
	align-items: center;
}

.Header-section{
	flex: 0.5;
	text-align: right;
	margin-right: 30px;
}
