.Orders-list {
    margin-top: 10px;
}

.Order-conatiner {
    border: 1px gray solid;
    height: 150px;
    margin-bottom: 20x;
    width: 95%;
    margin: 20px;
}

.Header-view {
    background-color: brown;
    height: 25px;
}

.Date-string {
    float: left;
    margin-left: 10px;
    color: #fff;
}

.Status {
    float: right;
    margin-right: 10px;
    color: #fff;
}

.Orders-img {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: brown;
    float: left;
}

.Data-container {
    text-align: left;
}

.Orders-data-container {
    margin-top: 5px;
    margin-left: 20px;
}

.Book-title {
    font-size: 25px;
}

.Delete-button {
    margin: 20px;
    background-color: brown;
    outline: none;
    border-color: brown;
    padding: 5px;
    color: #fff;
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    float: right;
}

@media only screen and (max-width: 760px) {
    .Orders-data-container {
        display: flex;
        flex-direction: column;
    }
    .Order-conatiner {
        border: 1px gray solid;
        height: 250px;
        margin-bottom: 20x;
        width: 95%;
        margin: 20px;
    }
}